@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*:not(ol,li){
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*{
    font-family: 'Inter';
}


/* --------------------------- */


/* HEADER */

.nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #211915;
    padding-bottom: 4px;
}

.nav-logo {
    display: flex;
    align-items: center;
    width: 600px;
}

.nav-logo img {
    width:100px;
}

.nav-logo p{
    align-items: center;
    font-size: 30px;
    color: antiquewhite;
    padding-left: 10px;
}

.nav-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.nav-navegacion a{
    background-color: #547f7b;
    text-decoration: none;
    color:#f8e12e;
    border: 1px solid #c64832;
    border-radius: 5%/10%;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

}

.nav-navegacion a:hover{
    background-color: #38605c;
}

/* BODY */

body{
    background-color: rgb(30, 30, 30);
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 130px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(75deg, #0f0f0f86, #000000a6),url(../images/design1_image1.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
}

.hero2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(75deg, #0f0f0f86, #000000a6),url(../images/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
}

.hero-p{
    align-items: center;
    font-size: 30px;
    color: antiquewhite;
    padding-left: 10px;
}


/* INDEX */

.info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
}

.index-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    min-height: 200px;
    color: antiquewhite;
    margin: 10px;
    width: 50%;
}

.index-info p{
    margin-bottom: 10px;
}

figure > img {
    border-radius: 5% / 8%;
    border: 1px solid;
    box-shadow: 3px 3px 3px 0px rgba(104, 104, 104, 0.75);
    width:250px
} 

/* contact */

.contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 20px;
    min-height: 200px;
    color: antiquewhite;
    margin: 10px;
    width: 30%;
}

/* aboutMDHL */

.aboutMDHL-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

.aboutMDHL-info{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 20px;
    min-height: 200px;
    color: antiquewhite;
    margin: 10px;
    width: 60%;
}

.aboutMDHL-info p{
    margin-bottom: 10px;
}

/* RULES */

.rules-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.rules-info{
    font-size: 20px;
    min-height: 200px;
    color: antiquewhite;
    margin: 10px;
    width: 60%;
}

.rules-logo img{
    width:200px;
}

.rules-container h3,h4,h5{
    margin-bottom: 5px;
    margin-top: 10px;
}

/* GAME_INFO */

.gameinfo-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.gameinfo-info{
    font-size: 20px;
    /* min-height: 200px; */
    color: antiquewhite;
    margin: 10px;
    /* width: 50%; */
}
.gameinfo-colsep{
    text-align: center;
}
.table1{
    /* width: 700px; */
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.table1 td {
    padding-left: 10px;
}
.table1-col1{
    background-color: rgb(63, 68, 32);
    width: 150px;
}
.table1-col2{
    background-color: rgb(63, 68, 32);
    width: 140px;
    
}
.table1-col3{
    background-color: rgb(63, 68, 32);
    width: 180px;
    
}
.table1-col4{
    background-color: rgb(63, 68, 32);
    width: 100px;
    
}

.table1-td__center{
    text-align: center;
}

.table2{
    margin-bottom: 30px;
}

.table2 td {
    padding: 10px;
}

.gameinfo-maps {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gameinfo-maps p{
    margin-bottom: 10px;
    margin-top: 10px;
    color: antiquewhite;
    text-align: center;
}

.gameinfo-maps iframe{
    border-radius: 5% / 8%;
    border: 1px solid;
    box-shadow: 3px 3px 3px 0px rgba(104, 104, 104, 0.75);
}

.gameinfo-maps__options{
    width:400px;
    height:300px;
    border:0;
}


/* REGISTRATION */

.registration-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    margin-top: 20px;
}

.registration-container h1{
    margin: 10px;
}

form{
    margin-left: auto;
    margin-right: auto;

    width: 700px;
}

form fieldset{
    display: flex;
    flex-direction: row;
    border: 0;
}

form h2,h4,p{
    margin-bottom: 15px;
}

fieldset input{
    margin-right: 10px;
    margin-bottom: 10px;
}

fieldset#refistration_form-fullname, fieldset#refistration_form-street, fieldset#refistration_form-city,fieldset#registration_form-grade,fieldset#registration_form-bdaygender {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset#refistration_form-fullname input{
/* margin-left: 10px; */
margin-right: 10px;
margin-bottom: 10px;
}


#refistration_form-street input[type="text"] {
    /* height: 1.5rem;
    margin: 1rem 3.3rem 1rem 0px;
    font-size: 1.2rem; */
    width:80%;
}

#refistration_form-city input[type="text"] {
    width:40%;
}

fieldset#registration_form-bdaygender span{
    margin-right:  15px;
}

#registration_form-school{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#registration_form-school fieldset{
    width:50%
}

#registration_form-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#registration_form-position fieldset{
    width:50%
}

#registration_form-size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#registration_form-size fieldset{
    width:50%
}

.btn_submit{
    background-color: #547f7b;
    text-decoration: none;
    color:#f8e12e;
    border: 1px solid #c64832;
    border-radius: 5%/10%;
    padding: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.btn_submit:hover{
    background-color: #38605c;
}


/* SHOWDATA */
.showdata-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
}
.showdata-container h1{
    margin: 20px;
}

figure {
    padding-top:20px;
}
/* FOOTER */
footer {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    background-color: #211915;
    position: absolute;
    bottom: 0;
}

footer p{
    color:antiquewhite;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 767px) {

    /* HEADER */
    .nav-logo {

        width: 400px;
    }

    .nav-logo img {
        width: 75px;
    }

    .nav-logo p {
        font-size: 15px;
        padding-left: 10px;
        margin: 0;
    }

    .nav-navegacion {

        justify-content: center;
        padding: 5px;
    }

    .nav-navegacion a {
        padding: 5px;
    }

    /* BODY */


    body::after {
        height: 100px;
    }

    .hero {
        height: 130px;
    }

    .hero2 {
        height: 130px;
    }

    /* INDEX */

    .index-info {
        margin-top: 30px;
    }

    .index-info p {
        margin-bottom: 10px;
    }

    figure>img {
        width: 200px
    }

    /* contact */

    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        font-size: 16px;
        width: 80%;
    }

    /* aboutMDHL */

    .aboutMDHL-info {
        font-size: 16px;
        width: 85%;
    }

    /* RULES */

    .rules-info {
        font-size: 16px;
        width: 85%;
    }

    /* GAME_INFO */

    .gameinfo-info {
        font-size: 12px;
    }

    .gameinfo-maps iframe {
        border-radius: 7% / 8%;
    }

    .gameinfo-maps__options {
        width: 260px;
        height: 250px;
        border: 0;
    }

    /* REGISTRATION */

    .registration-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: antiquewhite;
        font-size: 15px;
        margin-top: 20px;
    }


    .registration-container h1 {
        margin: 10px;
    }

    form {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    form fieldset {
        display: flex;
        flex-direction: column;
        border: 0;
        width: 100%;
    }

    form h2,
    h4,
    p {
        margin-bottom: 15px;
    }

    fieldset input[type="text"] {
        margin-bottom: 10px;
        width: 100%;
    }


    fieldset#registration_form-grade,
    fieldset#registration_form-bdaygender {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    fieldset#registration_form-bdaygender span {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    fieldset#registration_form-bdaygender input {
        margin: 0;
        margin-left: 10px;
    }

    fieldset#registration_form-grade input {
        margin: 0;
        margin-left: 10px;
    }

    fieldset#registration_form-grade span {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    fieldset#refistration_form-fullname input {
        margin-right: 10px;
        margin-bottom: 10px;
    }


    #refistration_form-street input[type="text"] {
        width: 100%;
    }

    #refistration_form-city input[type="text"] {
        width: 100%;
    }

    fieldset#registration_form-bdaygender span {
        margin-right: 15px;
    }

    form #registration_form-school fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #registration_form-school fieldset {
        width: 100%;
    }

    #registration_form-school>fieldset>input[type="checkbox"] {
        width: 10%;
    }

    #registration_form-school>fieldset>span {
        width: 50%;
    }

    form #registration_form-position fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #registration_form-position fieldset {
        width: 100%;
    }

    #registration_form-position>fieldset>input[type="checkbox"] {
        width: 10% ;
    }

    #registration_form-position>fieldset>span {
        width: 50% ;
    }


    form #registration_form-size fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #registration_form-size fieldset {
        width: 100%;
    }

    #registration_form-size>fieldset>input[type="ratio"] {
        width: 10% ;
    }

    #registration_form-size>fieldset>span {
        width: 50% ;
    }

    .btn_submit {
        background-color: #547f7b;
        text-decoration: none;
        color: #f8e12e;
        border: 1px solid #c64832;
        border-radius: 5%/10%;
        padding: 10px;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    }

    .btn_submit:hover {
        background-color: #38605c;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* aboutMDHL */
    .aboutMDHL-info {
        font-size: 18px;
        width: 85%;
    }

    /* RULES */
    .rules-info {
        font-size: 18px;
        width: 85%;
    }

    /* GAME_INFO */
    .gameinfo-info {
        font-size: 18px;
    }

    .gameinfo-maps iframe {
        border-radius: 7% / 8%;
    }

    .gameinfo-maps__options {
        width: 260px;
        height: 250px;
        border: 0;
    }
}
